    /* shared styles starts here */
*{
    margin:0px;
    padding: 0px;

}

body{
    font-family: 'Open Sans', sans-serif;
}

        /* shared styles ends here */


/* nav design starts here */

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: rgba(6, 241, 241, 0.1);
    background:linear-gradient(135deg, orange 60%, cyan);
        
}

.nav-name{
    margin-left:30px;
}

.shuvo-color{
    color: blue;
}

nav li{
    list-style: none;
    display: inline;
    margin-left: 30px;
}

    /* nav design starts here */

    /* banner design starts here */

.banner-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    }

.banner-text{
     margin: 240px 50px 40px 240px;
    }

.banner-title{
    font-size: 35px;
    margin-bottom: 10px;
   }

.banner-logo{
    margin: 35px 40px 0px 97px;
    height: 600px;
    width: 435px;
  }

.banner-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    
}
.banner-btn:hover{  
    color: darkgreen;
    font-size: 2rem;
    background-color: powderblue;    
}

        /* banner design ends here */

        /* features flower section design starts here */


.Featured-Flowers{
    text-align: center;
}

.Featured-Flowers-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 100px;

}

.Featured-Flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}       
    
/* features flower section design starts here */




 /* bonus container stars here */

 .bonus-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:70px 300px 18px 300px;
    gap: 8px;
    
 }

 .bonus-p{
    margin-top: 10px;
    margin-left: 110px;
    text-decoration: underline;
    color: rgba(39, 39, 39, 0.80);
 }



 

 .div-1-pic{
    width:310px ;
    height:428px ;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 15px 0px 15px;



    
 }

 .div-2-pic{
    width:310px ;
    height:428px ;
    padding: 30px 15px 0px 15px;

    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);



    
 }

 .div-3-pic{
    width:310px ;
    height:428px ;
    padding: 30px 15px 0px 15px;
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);



    
 }


/* bonus container ends here */

/*optional container starts here*/

.optional-container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 140px 240px 140px 240px ;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 40px;


}

.optional-container-1{
    text-align: center;
}
.optional-container-2{
    text-align: center;
}
.optional-container-3{
    text-align: center;
}

.pic-1{
    width: 50px;
    height: 50px;
    
}

.pic-2{
    width: 50px;
    height: 50px;
}

.pic-3{
    width: 50px;
    height: 50px;
}

.optional-container-1-des{
    padding-top: 5px;
}

.optional-container-2-des{
    padding-top: 5px;
}

.optional-container-3-des{
    padding-top: 5px;
}

/*optional container ends here*/


/* hot deals  starts here */





.hot-deal-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 450px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
    

}

.hot-deal-pic{
    padding-right: 100px;

}

.hot-deal-des{

    padding:200px;
}

.hot-del-title{
    font-size: 30px;
    text-align: center;
}
.off{
    color: #E55473;
}

.hot-deal-p{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);

}

.hot-deal-btn{
    align-items: center;
    margin-left: 178px;
    padding: 10px 20px;
    background-color: #E55473;
    border-radius: 5px;
    border: 1px solid none;

   

}

/* hot deals  ends here */

/* our team starts here */

.our-team{
    text-align: center;
    font-size: 2rem;
    margin-top: 25px;
    color: gold;
    
}
.our-pic{
    height: 100px;
    width: 80px;
    border-radius: 40px;
    margin-left: 97px;
}

.name ,.title{
    text-align: center;
}

.our-team-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    gap: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

.our-back{
    background-color: darkgoldenrod;
}

.our-back-p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

/* our team ends here */





.instagram{
    font-size: 35px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 10px;
}

.ins-des{
    text-align: center;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);


}

/* pic container starts here */

.pic-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 20px 100px 20px 100px;
    margin: 30px 200px 50px 200px;
}
.flo-pic-1{
    width: 200px;
    height: 270px;
  
}
.flo-pic-2{
    width: 200px;
    height: 270px;
  
}
.flo-pic-3{
    width: 200px;
    height: 270px;
  
}
.flo-pic-4{
    width: 200px;
    height: 270px;
  
}

/* pic container ends here */

/* latest deal starts here */


.latest-deal{
    background: url("../Flower Asset/Rectangle 9.png");
    background-attachment:cover;
    height: 270px;
    text-align: center;
    margin: auto;
    width: cover;
    margin: 20px 200px 20px 200px;
    
    
    
}

.latest-deal-title{
    padding-top: 60px;
    padding-bottom: 10px;
   
}
.latest-deal-des{
    margin-bottom: 30px;
}


.input-email{
    padding: 10px 50px 10px 50px;
    width: 300px;
    
}

.latest-deal-btn{
    padding: 10px;
    background-color: none;
    border-radius: 8px;
    background: #E55473;


}

/* latest deal ends here */

/* footer starts here */


.ftr-des{
    text-align: center;
    background: #111010;
    height: 300px;
    margin-top: 60px;

}
.ftr-h2{
    color: #E55473;

}
.shop{
    color: wheat;
}

.ftr-p{
    color: rgba(255, 255, 255, 0.90);

}
h2{
    padding-top: 70px;
    padding-bottom: 20px;
}

.copy{
color: rgba(255, 255, 255, 0.40);
}

/* footer ends here */

